.sider {
  background: var(--secondary-color) !important;
  padding-top: 1rem;

  &__loading {
    padding: 0 1rem;
  }

  .ant-menu-dark {
    background: var(--secondary-color) !important;

    .ant-menu-item-selected {
       background: var(--primary-color) !important;
    }
  }
}
