@import '~antd/dist/antd.css';
// @import '~antd/lib/style/themes/default.less';

:root {
  --primary-color: #2baf9f;
  --secondary-color: #1b1c1f;
}

.app {
  height: 100vh;
  text-align: center;
  background: var(--primary-color);
}
